<header>
	<a class="navbar-logo" href="/">Google Classroom Feed</a>
	<nav>
		<ul class="navbar-link">
			<li><a href="/">Kezdőlap</a></li>
			<li><a href="/work">Feladatok</a></li>
		</ul>
	</nav>
	<a class="navbar-button" href="https://classroom.google.com" target="_blank">Classroom</a>
</header>
